.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    background-color: rgb(14, 161, 224);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1 {
    color: rgb(76, 75, 51);
    margin-bottom: 10px;
}

.input label {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(83, 82, 59);
    font-weight: bold;
}

.input input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
} 

.btn {
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}