html, body {
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 1024px) {

  .home-banner-container,
  .about-section-container {
    flex-direction: column;
    text-align: center;
  }

  .primary-heading {
    font-size: 2.3rem;
  }

  .primary-text {
    margin: 0 auto;
  }

  .work-section-bottom {
    justify-content: center;
  }

}

@media (max-width: 768px) {

  .nav-links-container {
    display: none;
  }

  .nav-menu-container {
    display: block;
  }

  .home-image-container img {
    width: 280px;
  }

  .about-section-image-container img {
    width: 300px;
  }

  .primary-heading {
    font-size: 2rem;
  }

  .contact-form-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section-one {
    flex-direction: column;
    text-align: center;
  }

  .footer-section-two {
    justify-content: center;
  }

}

@media (max-width: 480px) {

  .primary-heading {
    font-size: 1.7rem;
  }

  .primary-text {
    font-size: 0.9rem;
  }

  .home-image-container img {
    width: 220px;
  }

  .nav-logo-container img {
    width: 100px;
  }

  .work-section-info {
    width: 100%;
  }

  .testimonial-section-bottom {
    padding: 1.5rem;
  }

}